
// .el-table /deep/ tbody tr td:nth-child(1) {
//   border-right: 1px solid transparent;
// }

// .el-table /deep/ tbody tr td:nth-child(2) {
//   border-right: 1px solid #e6e6e6;
// }

.el-table {
  border-top: 1px solid $xr-border-line-color;
}

.address-book-index {
  width: 100%;
  height: 100%;
  .header {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 28px;
    display: flex;
    .title {
      width: unset;
      margin: 15px 0;
      .pic {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
      .text {
        font-size: 16px;
        font-weight: bold;
      }
    }
    .el-input {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      /deep/ .el-input-group__append {
        color: white;
        background-color: $xr-color-primary;
        border-color: $xr-color-primary;
      }
    }
  }

  .container {
    width: 100%;
    height: calc(100% - 80px);
    background-color: white;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

    .filter {
      padding: 5px 15px;
      &__label {
        color: #333;
        font-size: 12px;
        margin-right: 5px;
      }
    }

    .el-table {
      width: 100%;
      /deep/ tbody tr td {
        padding: 6px 0;
      }
      .focus-icon {
        font-size: 14px;
        color: #D9D9D9;
        cursor: pointer;
        &.active {
          color: #FAC23D;
        }
      }
      .user-box {
        .user-img {
          margin-right: 15px;
        }
      }
      /deep/ .special-row {
        height: 30px;
        .cell {
          line-height: 1;
        }
        background-color: #F5F5F5;
      }
    }
  }
}
